@font-face {
    font-family: 'phonk-sans'; 
    src: url('../fonts/phonk-sans-light.otf');
}

@font-face {
    font-family: 'Euclid'; 
    src: url('../fonts/Euclid\ Circular\ A\ Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

:root {
    --border-radius: 2rem;

    --font-family-base: 'Euclid', sans-serif;
    --font-family-title: 'phonk-sans';

    --transition-duration: 0.3s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #282829;
    color: #fff;
    line-height: 100%;
}

.container {
    width: 100%;
    max-width: 100rem;
    padding-left: 11rem;
    padding-right: 2rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}
  
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 100%;
}

p, a, li {
    font-family: var(--font-family-base);
    font-size: 1.5rem;
    line-height: 120%;
}
  
ul, ol {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
    display: block;
}

header {
    padding-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    margin-left: auto;
    margin-right: auto;
    position: static;
    z-index: 1000;
    background-color: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(8px);
    padding: 1rem 2rem;
    transition: 
        background-color 0.3s ease, 
        backdrop-filter 0.3s ease, 
        top 0.3s ease, 
        left 0.3s ease, 
        transform 0.3s ease, 
        opacity 0.5s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 1; 
    transform: none;
}

.nav-link.scrolled {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%) scale(1.05);
    background-color: rgba(34, 34, 34, 0.9);
    backdrop-filter: blur(12px);
    opacity: 1;
}

.burger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.hero-section {
    display: flex;
    background-color: #222222;
}
  
.hero-content {
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    padding: .5rem 1rem;
    text-align: center;
    color: transparent;
    position: relative;
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, red, blue);
    border-radius: .4rem;
    z-index: -1; 
}

.hero-title span {
    color: transparent;
    background-image: linear-gradient(to right, red, blue); 
    -webkit-background-clip: text; 
    background-clip: text;
}
  
.nav-menu li a {
    margin-left: 1.25rem;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s ease;
}

.nav-menu li a:hover {
    color: #b4b0b0;
}
  
.hero-text {
    margin-top: 15rem;
}
  
.hero-text h1 {
    width: 100%;
    max-width: 40rem;
    font-size: 3.5rem;
    margin-bottom: 1.25rem;
}
  
.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 1.9rem;
}
  
.hero-text ul {
    padding: 0;
    margin-bottom: 1.9rem;
}
  
.hero-text li {
    margin-bottom: .9rem;
    font-size: 1.5rem;
    background-color: #282829;
}

.hero-text li:nth-child(1) {
    width: 100%;
    max-width: 23rem;
}

.hero-text li:nth-child(2) {
    width: 100%;
    max-width: 18rem;
}

.hero-text li:nth-child(3) {
    width: 100%;
    max-width: 17rem;
}
  
.hero-text .icon {
    position: relative;
    z-index: 1;
    color: #EFCFAD;
    margin-right: .6rem;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hero-text .icon::after {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    position: absolute;
    z-index: -1;
    top: 20%;
    left: -10%;
    border-radius: 50%;
    border: 2px solid #EFCFAD;
}
  
.hero-btn {
    position: relative;
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    background: #fff;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease;
}

.hero-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black 30%, rgb(240, 94, 10));
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    transition: left 0.5s ease;
    z-index: 0;
}

.hero-btn span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
}
  

.hero-btn:hover::before {
    left: 0;
}

.hero-btn:hover {
    color: white;
}

.hero-image {
    flex-shrink: 0;
    width: 40%;
}
  
.hero-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

/* benefits */
.benefits {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 6.25rem;
}

.benefits-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefit {
    width: 34%;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-align: left;
    line-height: 120%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #55565A;
}

.benefits::before, .benefits::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30%;
    background-size: cover;
    background-position: center;
}

.benefits::before {
    left: 0;
    background-image: url('../img/1.png');
}

.benefits::after {
    right: 0;
    background-image: url('../img/2.png');
}

.benefits-btn {
    width: 34%;
    margin-top: 2rem;
}

/* FORM */

.form-container {
    position: relative;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-section {
    margin-top: 6.25rem;
    background: #fff;
    border-radius: 1.25rem;
    display: flex;
    box-shadow: 0 0 1.25rem rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
    position: relative;
}
  
.form-content {
    flex: 1;
    padding: 3rem;
}
  
.form-content h2 {
    font-size: 2.25rem;
    color: #2a4440;
    margin-bottom: 1.9rem;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
form input[type="text"],
form input[type="email"] {
    padding: .9rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
    font-size: 1rem;
}
  
.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

.checkbox-wrapper label {
    color: black;
}
  
.checkbox-wrapper input[type="checkbox"] {
    margin-right: .6rem;
}
  
.form-btn {
    background-color: #282829;
    color: white;
    padding: 2rem;
    border: none;
    border-radius: .2rem;
    font-size: 1.2rem;
    cursor: pointer;
}
  
button:hover {
    background-color: #333;
}
  
.form-image {
    position: relative;
    z-index: 1;
    flex: 1;
    background: url('../img/radiant_dire5.png') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
  
.form-image img {
    position: absolute;
    z-index: 100;
    width: 68%;
    height: auto;
    object-fit: cover;
    bottom: 0;
    transform: translate(10%, 0%);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    pointer-events: none;
}

.form-section:hover .form-image img {
    transform: translate(10%, -5%) scale(1.05);
}

/* EXTRA */

.extra {
    margin-top: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border-bottom: 2px solid #D5C9BE;
    border-top: 2px solid #D5C9BE;
    padding: 2.5rem;
    font-size: 1.5rem;
    line-height: 120%;
}

/* FOOTER */
.footer {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #222;
}

.footer-section {
    padding: 0 !important;
    padding-top: 2.7rem !important;
    width: 100%;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.footer-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-left: 5rem;
}

.footer-link li:hover{
    transform: scale(1.2);
    transition: transform .3s ease;
}

.footer-btn {
    background-color: #FFFFFF;
    color: #222222;
    border: none;
    padding: 2rem 3.25rem;
    font-weight: 400;
    font-style: oblique;
    font-size: 1.2rem;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-top: 2.4rem;
    padding-bottom: 3.3rem;
}

.footer-copyright a{
    font-size: 1rem;
}

.footer-copyright a:hover{
    opacity: .5;
    transition: opacity .3s ease;
}

.footer-copyright a:nth-child(2){
    margin-right: 4rem;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}



@media (max-width: 76rem) {
    .container {
        padding-left: 4rem;
    }
}

@media (max-width: 64rem) {
    .container {
        padding-left: 5.5rem;
        padding-right: 1.5rem;
    }

    .benefits-info {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-menu {
        gap: 1rem;
    }

    .nav-menu li a {
        font-size: .5rem;
    }

    .benefits::before, .benefits::after {
        display: none;
    }

    .benefit {
        width: 80%;
    }

    .benefits-btn {
        width: 80%;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-link {
        margin-left: 0;
        margin-top: 2rem;
    }

    .footer-btn {
        margin-top: 2rem;
    }

    .footer-copyright a:nth-child(2){
        margin-right: 2rem;
    }
}

@media (max-width: 48rem) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header {
        padding-top: 0;
        justify-content: space-between;
    }

    .logo {
        font-size: 1.5rem;
    }

    .burger {
        display: block;
    }

    .nav-menu li a {
        font-size: 1rem;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-link {
        display: none;
    }

    .nav-link.open {
        display: block;
        position: absolute;
        top: 0%;
        right: 0;
        width: 60%;
        background-color: rgba(34, 34, 34, 0.95);
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }

    .hero-section {
      flex-direction: column;
    }
  
    .hero-content {
      padding: 2rem 1rem;
    }
  
    .hero-text {
      margin-top: 3rem;
    }
  
    .hero-text h1 {
      font-size: 2rem;
      padding-top: 3rem;
    }

    .hero-text li {
        font-size: 1rem;
    }
  
    .hero-btn {
      width: 100%;
    }
  
    .hero-image img {
        min-height: 50vh;
        min-width: 100vw;
    }

    .benefit p {
        font-size: 1rem;
    }

    .form-content {
        padding: 1rem;
    }

    .footer-link {
        justify-content: center;
        margin-left: 0;
    }

    .footer-btn {
        width: 100%;
        padding: 1rem;
    }

    .footer-copyright a:nth-child(2){
        margin-right: 0;
    }

    .benefits {
        margin-top: 3rem;
    }

    .form-section {
        margin-top: 3rem;
    }

    .extra {
        margin-top: 3rem; 
    }
}